extends layout

block content
  h1= title
  p Interesting fact about myself 
  p I'm a passionate traveler who loves exploring new cultures. I'm also a music enthusiast, and I enjoy singing as a way to connect with people from different backgrounds.
